div {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
img {
  max-height: 100%;
  max-width: 100%;
}
.abs-centered {
  position: fixed;
  top: 15%;
}
/*---*/
.centered {
    height: 50%;
  width: 50%;
  color: #2f899a;
  left: 25%;
  right: 25%;
}
.info-div-welcome{
    font-size: 400%;
    text-transform: capitalize;
    background-color: rgba(0, 0, 0, 0.49);
    border-radius: 15px;
    color: #0a6181;
    margin: 10px;
}
.sprite,.sprite-welcome{
    position: fixed;
    width: 50%;
    height: 50%;
  left: 25%;
  right: 25%;
    bottom: 0px;
    z-index: -3;
}
.sprite-welcome{
    left: 0%;
}
.bnks{
    color: #06adea;
}
