.clockFrame {
    position: relative;
    margin: auto;
    width: 200px;
    height: 200pxd
}

.clock {
    width: 100%;
    height: 100%;
    border:10px solid red;
    position: relative;
    border-radius: 100%;
    background: black;
    box-shadow: inset 0px 0px 30px #777, 0px 2px 18px rgba(0, 0, 0, 0.5), 0px 20px 40px #bbb;
    background: radial-gradient(#3b3b3b, #000);
}

.middlePoint {
    width: 5%;
    height: 5%;
    border-radius: 100%;
    background: #bcd;
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.secondHand {
    position: absolute;
    height: 50%;
    width: 2px;
    /*margin: auto;*/
    background: #bcd;
    left: 49.5%;
    -webkit-transform-origin: 49.5% 100%;
    -moz-transform-origin: 49.5% 100%;
    -o-transform-origin: 49.5% 100%;
    -ms-transform-origin: 49.5% 100%;
    transform-origin: 49.5% 100%;
    -webkit-transform: rotate();
}
